{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-cost').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid message">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-cost">
          <div class="table-responsive">
            <table class="table table-bordered table-hover" style="font-size:13px">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort %}
                    <a href="{{ sort_cost_id }}" class="{{ order|lower }}">{{ column_id }}</a>
                    {% else %}
                    <a href="{{ sort_cost_id }}">{{ column_id }}</a>
                    {% endif %}</td>
                  <td class="text-left">{{ column_name }}</td>
                  <td class="text-left">{{ column_description }}</td>
                  <td class="text-left value">{% if sort == 'value' %}
                    <a href="{{ sort_value }}" class="{{ order|lower }}">{{ column_value }}</a>
                    {% else %}
                    <a href="{{ sort_value }}">{{ column_value }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if costs %}
                {% for cost in costs %}
                <tr>
                  <td class="text-center">{% if cost.cost_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ cost.cost_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ cost.cost_id }}" />
                    {% endif %}</td>
                  <td class="text-left update id">{{ cost.cost_id }}</td>
                  <td class="text-left">{{ cost.name }}</td>
                  <td class="text-left update description">{{ cost.description }}</td>
                  <td class="text-left update value">{{ cost.value }}</td>
                  <td class="text-right edit"><a href="{{ cost.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    'use strict';
    var myGlobal = '';
    $('body').delegate('td.update','click',function(event){
        var getDescription = $(this).text();
        $(this).addClass('editable');
        myGlobal = getDescription;
        if($(this).hasClass('value')){
          var html = "<input type='text' name='value' value='"+getDescription+"' class='new-value form-control'>";
        }
        else if($(this).hasClass('id')){
          var html = "<input type='text' name='cost_id' value='"+getDescription+"' class='new-value form-control'>";
        }
        else
          var html = "<textarea name='description' placeholder='{{ entry_description }}' id='input-description' data-toggle='summernote' data-lang='{{ summernote }}' class='form-control new-value'>"+getDescription+"</textarea>";
        
        $(this).text('');
        $(this).append(html);
        $(this).next().focusin();
        $(this).removeClass("update");
        //event.preventDefault();
    });
    $('td').delegate('.new-value','blur',function(event){
      var value = $(this).val();
      var column = '';
      var loc = $(this);
      
        //console.log($(this));
      if($(this).parent().hasClass('value')) {
        var description = $(this).parent().siblings('.description').text();
        var data = {
          value : value,
          description : description,
          type : 'json'
        };
      }else if($(this).parent().hasClass('id')){
        var val = $(this).parent().siblings('.value').text();
        var data = {
          value : val,
          cost_id : value,
          type: 'json'
        };
      }
      else {
        var val = $(this).parent().siblings('.value').text();
        var data = {
          value : val,
          description : value,
          type: 'json'
        };
      }
        
      
      var editUrl = $(this).parent().siblings('.edit').children('a').attr('href');
        
      // console.log("get url : "+editUrl);
      // console.log(data);
      $.ajax({
        url: editUrl,
        method: "post",
        datatype:"json",
        data: data,
        cache: false,
        complete: function(data,status){
          // console.log(data);
          var d = data['responseJSON'];
          // alert(JSON.stringify(data));
          //console.log(data);
          if(status == 'success'){
            //var d = data['responseJSON'];
            //console.log('home');
            
            //window.myData = d['status'];
            if(d['status'] == 'success'){
              //console.log(d);
            //console.log(d['edit']);
              if($('tr td.editable').hasClass('id')){
                var myUrl = d['edit'].replace('&amp;','&');
                myUrl = myUrl.replace('&amp;','&');
                $('table tr td.editable').siblings('.edit').children('a').attr('href',myUrl);
              }
                

                var content = '<div style="display:none;font-family=Arial;font-size:13px;padding-left:10px" class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle" style="padding-right:10px"></i>'+d['success']+'<button type="button" class="close" data-dismiss="alert">&times;</button></div>';
                $('.message').prepend(content);
                //$('.edit > a').attr('href',d['edit']);
                var h = $('.edit > a').attr('href');
                //console.log(h);
                $('.message > div.alert').fadeIn(200).delay(5000).fadeOut(400);
              }else if(d['status'] == 'error'){
                var content = '<div style="font-family=Arial;display:none;font-size:13px;padding-left:10px" class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle" style="padding-right:10px"></i>'+d['error']+'<button type="button" class="close" data-dismiss="alert">&times;</button></div>';
                //console.log(d['error']);
                var oldCost = d['cost'];
                // var des = $(this).parent().text('home');
                // loc.addClass('this');
                // console.log();
                if($('table tr td.editable').hasClass('description'))
                  $('table tr td.editable').text(oldCost['description']);
                else if($('table tr td.editable').hasClass('value'))
                  $('table tr td.editable').text(oldCost['cost_value']);
                else if($('table tr td.editable').hasClass('id'))
                  $('table tr td.editable').text(oldCost['cost_id']);

               
              //$(this).parent().text(value).addClass('10');
              $('.message').prepend(content);
              $('.message > div.alert').fadeIn(200).delay(5000).fadeOut(400);
              }
              //console.log(editUrl);
            }else{
              console.log('error ------------------------------------------------> '+status);
              //console.log(editUrl);
            }
          $('tr td.editable').removeClass('editable');
        },

      });
      //$(this).parent().text(myGlobal).addClass('update');
     
    $(this).parent().text(value).addClass('update');
      $(this).remove();
      $('.message > div.alert').remove();
      
    });

    // $('.description').click(function(event){
      
    // });
    
  });
</script>
{{ footer }}
